<!DOCTYPE html>
<html lang="fr">
<head>
    <title>01-les directives</title>
</head>
<body ng-app>

    <h1>Mini chat</h1>

    <h2>Filtrer la discussion</h2>
    
    <label>Sélectionnez le filtre :</label>
    
    <input type="text" ng-model="query">

    <select ng-model="order">
        <option value="username">Organiser par nom</option>
        <option value="content">Organiser par contenu</option>
    </select>

    <h2>Discussion</h2>

    <div ng-init="users=[{username:'Marc', content:'Salut les gens'}, {username:'Jean', content:'Je suis content'}, {username:'John', content:'First'}]">
         <div ng-repeat="user in users | filter:{content:query} | orderBy: order">
            <p>
                <strong>{{user.username}}</strong><br>
                {{user.content}}
            </p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>
</html>